@import url("https://res.cloudinary.com/overdrive/raw/upload/v1666742651/fonts/odudo_mono/OdudoMono.css");
:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-highlight: #ccc;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 15px;
  font-family: 'OdudoMono-Bold', sans-serif;
  text-transform: uppercase;
}

.timesheets-container {
  margin: 1em;
  text-align: center;
  
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timesheet-container {
  border: 1px solid black;
  /* flex: 1; */
  padding: 1em;
  display: flex;
}

table, th, td, .tc {
  border: 1px solid black;
  padding: 0.3em;
}

.timesheet {
  width: 100%;
}

.c-date, .c-day, .c-hours {
  width: 1px;
}

.c-time {
  width: 10em;
}

.tc {
  background: var(--color-highlight);
  font-weight: bold;
  border-width: 1px 1px 0 1px;
  font-size: 1.5em;
}

.en {
  text-align: left;
  font-size: 1.5em;
}

.highlight, tr:nth-child(even) {
  background: var(--color-highlight);
}

.timesheet-totals-container {
  width: 35%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  border: 1px solid black;
  width: 200px;
  margin: 1em;

}

.sub {
  padding: 0.3em;
  font-size: 1.5em;
}
.blank {
  padding: 2em;
}